repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
        language_version: python3.11

-   repo: https://github.com/PyCQA/pylint
    rev: v2.14.0
    hooks:
    -   id: pylint
        additional_dependencies: [pylint-django]
        language_version: python3.11
        args: ["--disable=import-error,no-member", "--fail-under=9.0"]

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
    -   id: mypy
        language_version: python3.11
        additional_dependencies:
        - types-requests
        - types-PyYAML
        - types-redis
        args: [--ignore-missing-imports, --follow-imports=skip]
